
form {
    display:flex;
    flex-direction: column;
}

form label {
    margin-bottom:5px;
}

form input {
    margin-bottom: 10px;
    width:500px;
    height:30px;
    border:0;
}

.submit-button {
    width:100px;
    height:30px;
    background:green;
    color:white;
    border:1px solid black;
    cursor:pointer;
    border-radius:3px;
}

