* {
    box-sizing: border-box;
    margin:0;
}

body {
    background: #162a46;
    color:white;
}

#root {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap:50px;
}

h1 {
    text-align: center;
}

button {
    cursor:pointer;
    border:2px solid black;
    color:white;
}